In [26]:
 import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [29]:
df = pd.read_csv(Path( 'C://Users/ehawk/Desktop/Class Folder/Class challenges/Credit_Risk_Analysis/Resources/Salary_Data.csv'))
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891